/* Customizing Materialize theme color */
/* don't delete this piece of code */

.collection .collection-item.active {
	background-color: #4a148c !important;
}

.btn {
	background-color: #4a148c;
}

.tabs .tab a {
	color: #4a148c !important;	
}

.tabs .tab a:hover {
	color: #ba68c8 !important;	
}

.tabs .indicator {
	background-color: #4a148c !important;
}

/* End of overriding materialize theme customizing */

/* Side nav */

.pin-top {
	position: relative;
}

.pin-bottom {
	position: relative;
}

.pinned {
	position: fixed !important;
	width: 160px;
}

/* End of side nav */

nav{

	height: 150px;
	background-color: #f5f5f5;
}

.nav-wrapper a{
	color:black;	
	padding-top:40px;
	padding-bottom: 40px;
}

#title{
	color:black;
	padding-left: 350px;
	padding-top:45px;
	padding-bottom: 45px;
}

.sidebar{
	/*border-right-style: groove;
	border-color: #e0e0e0;*/
	margin-top: 10px;
	margin-left: auto;
  	margin-right: auto;
 	
  	float:left;
  	box-sizing: border-box;
  	padding: 0 0.75rem;
  	width: 25%;
  	height:100vw;
  	background-color: #f5f5f5;
  	margin-left: auto;
  	left: auto;
  	right: auto;
}

#content{
	min-height: 1000px;
	height:100%;
}

#loginas{
	padding-right:5px;
	padding-top:5px;
	padding-bottom: 5px;
	margin-top:5px;
	background-color: #f5f5f5;
	display: block;
	border-bottom: 1px solid #ddd;
}

#tableHead{	
	font-weight: bold;
	padding: 0 1rem;
}

#tableData{
	text-indent: 2px;
}

#button{	
	display: inline;
	float: left;	
 	margin-right: 1rem;	
	margin:auto;
}

#header{
	padding:0px;
}

.menu-item:hover{
	background-color: #eee;
}

#ruanganSelected{	
	background-color: #eee;
}

#bgnyabc{
	background-color: #424242;
}

#submitPermohonan{
	width:100%;
}

/* new zahra */

#jadwal-table{
	margin-right: auto;
	margin-left: auto
}

.row .col.s2nanggung {
		width: 14%;
		margin-left: auto;
		margin-right: 2px;
		left: auto;
		right: auto;

}

.col.jadwal{
	width: 100%;
	border-style:solid;  
	border-width: 1px;
	padding: 2px 10px 2px 10px;
	margin-right: 0px;
	margin-bottom: 2px;
	background-color: #f5f5f5


}

.hari{
	width: 14%;
	float: left;
	margin-left: auto;
		margin-right: 2px;
		padding-right: 0px;

}

#next-week{
	padding-left: 9%;
}

/* Jundi */

.collapsible-header{	
	background-color: #eeeeee ;
	display: block;
	cursor: pointer;
	line-height: normal;
	padding-top: 12px;
	padding-bottom: 12px;	
}

/*.collapsible li .collapsible-header .col {
	word-wrap: normal;
}*/

.collapsible-body{
	padding-left: 12px;
	padding-right:12px;
	padding-top:5px;
	padding-bottom: 5px;	
}

textarea {
	resize: none;
	height: 100px;
}

#sidebar .collection {
	margin: 0.25rem 0 0 0;
}

/*zahra*/

.nav-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}
#title{
	display: inline-block;
	padding-top: 20px;
	padding-bottom:20px; 
	height:100%;
	padding-left: 275px;
}


#logo{
	width:20%;
/*	margin:20px;*/
}

#judultitle{
	margin-top: 20px;
	margin-bottom: 20px;
}

#sidebar{
	/*margin-top:10px;*/
	height:100vw;
  	background-color: #f5f5f5;
}

#sidebar-content{
	background-color: white;
	margin-top:10px;	
	width: 204px;
}

#logout-icon{
	font:black;
}


#logout-button{	
	background-color:  #f5f5f5;
	height:64px;
	border-style: none;
	margin-bottom: 1px;
}

.form.btn-out.right{
	height:64px;
}

#logout-button:hover{
	background-color: #ddd;
}

.wrap-text {
	word-wrap: break-word;
}

.no-row {
	margin-bottom: 0;
}