nav{
	height: 164px;
	background-color: #f5f5f5;
}

.title{
	color:black;
	font-size: 1.6em;
}

#sidebar{
	margin-top: 10px;
	min-height: 1000px;
	height: 100%;	

	white-space: nowrap;
	overflow: auto;
}

#content{
	min-height: 1000px;
	height:100%;	
}

#loginas{
	padding-right:5px;
	padding-top:5px;
	padding-bottom: 5px;
	margin-top:5px;
	background-color: #f5f5f5;
	display: block;
	border-bottom: 1px solid #ddd;
}

#tableHead{	
	font-weight: bold;
	padding: 0 1rem;
}

#tableData{
	text-indent: 2px;
}

#button{	
	display: inline;
	float: left;	
 	margin-right: 1rem;	
	margin:auto;
}

#coba{
	margin-top:10px;
}

.collection-header{
	text-align: center;
}

#header{
	padding:0px;
}

.collection-item:hover{
	background-color: #eee;
}

#ruanganSelected{	
	background-color: #eee;
}

#bgnyabc{
	background-color: #424242;
}

#submitPermohonan{
	width:100%;
}

/* new zahra */

#jadwal-table{
	margin-right: auto;
	margin-left: auto
}

.row .col.s2nanggung {
		width: 14%;
		margin-left: auto;
		margin-right: 2px;
		left: auto;
		right: auto;

}

.col.jadwal{
	width: 100%;
	border-style:solid;  
	border-width: 1px;
	padding: 2px 10px 2px 10px;
	margin-right: 0px;
	margin-bottom: 2px;
	background-color: #f5f5f5


}

.hari{
	width: 14%;
	float: left;
	margin-left: auto;
		margin-right: 2px;
		padding-right: 0px;

}

#next-week{
	padding-left: 9%;
}

/* Jundi */

.collapsible-header{	
	background-color: #eeeeee ;
	display: block;
	cursor: pointer;
	line-height: normal;
	padding-top: 12px;
	padding-bottom: 12px;	
}

/*.collapsible li .collapsible-header .col {
	word-wrap: normal;
}*/

.collapsible-body{
	padding-left: 12px;
	padding-right:12px;
	padding-top:5px;
	padding-bottom: 5px;	
}

textarea.materialize-textarea {
	resize: none;	
	padding: 0 0 20px 0;
}

#sidebar .collection {
	margin: 0.25rem 0 0 0;
}

.judul-add-barang {
	font-size: 24px;
}

.btn-flat {
	padding: 0 1rem;
}

.form-row {
	margin-bottom: 0;
}

.error {
	font-size: 12px;
}

.btn-out {
	padding: 0;
}

nav .nav-wrapper i {
	font-size: 1.6rem;
	line-height: 36px !important;
	height: auto !important;
	margin: 0 10px;
}